body {
	background-image: url("bg.png");
}

table {
	background-color: blue;
	margin: auto;
}

td {
	height: 70px;
	width: 75px;
	border: solid 2px white;
	text-align: center;
}

input{
	width: 60%;
	color: white;
	font-family: verdana;
	background-color: blue;
	border-color: blue;
	height: 50%;
}

button{
	margin-left: 730px;
	margin-top: 25px;
	position: relative;
}

